@import url('./base.css');
@import url('./background.css');


/* ======== HEADER ========= */
:root{
  --headerHeight: 300px;
--toolbarHeight: 64px;
}


* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
}

html, body {
  height: 100%;
  min-height: 100%;
  font-family: Roboto, sans-serif;
}

main {
  padding-top: var(--headerHeight);
  font-family: arial;
  background: #eee;    
  min-height: 100%;
}
/* Style the header */
header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

/* Page content */
.container {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .container {
  padding-top: 102px;
}

.navbar {
  background-color: transparent;
  color: #ffffcc;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;

}
nav ul li {
  display: inline-flex;
  align-self: stretch;
  font-size: 1.6rem;
  padding: 1rem;
  margin: auto;
}

nav a, a:link, a:visited, a:hover, a:active {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
  color: antiquewhite;
  font-weight: 500;
  font-display: medium;
  font-variant: caps-lock;

}
/*
.main-header {
  display: block;
  background: #3f51b5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  height: var(--headerHeight);
  box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.header-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.header-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: var(--toolbarHeight);
  padding: 0 16px;
  pointer-events: none;
  font-size: 20px;
}

#large-toolbar {
  position: absolute;
  bottom: 0;    
  transform-origin: left top;  
  margin-bottom: 24px;
  margin-bottom: 16px;
  width: 100%;
}

.small-title,
.large-title {
  transform-origin: left top;
  white-space: nowrap;  
  flex: 1;
  flex-basis: 0.000000001px;
  overflow: hidden;  
  font-weight: 400;
  line-height: 1.5;  
  position: relative;
}

.small-title {
  margin-left: 14px;  
  /* visibility: hidden; 
  opacity: 0;
} 
*/
.large-title {
  will-change: transform, opacity;
  font-size: 56px;
  font-size: 2em;
  margin-left: 64px;
}

.icon-button {
  display: inline-block;
  position: relative;  
  padding: 6px;  
  outline: none;
  user-select: none;
  font-size: 0;
  line-height: 1;
  width: 40px;
  height: 40px;
  box-sizing: border-box !important;
}
  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    fill: currentcolor;
    stroke: none;
    width: 100%;
    height: 100%;
  
}

.header-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.header-background {
  pointer-events: none;
  position: absolute;
  background-size: cover;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  will-change: transform, opacity;
}

#header-back {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/106114/mountain-02.jpg');
  background-position: left center;
  opacity: 0;
  /* visibility: hidden; */
}

#header-front {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/106114/mountain-01.jpg');
  background-position: left center;
}

.card {
  padding: 16px;
  margin: 24px;
  border-radius: 2px;
  background-color: #fff;
  color: rgba(0,0,0,0.87);
  box-shadow: 
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  
  .card-title {    
    padding: 24px 16px 8px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }
  
  p {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 1.6em;
    padding: 0 16px;
  }  
}

